.bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: row;
  font-family: "Rubik Moonrocks", cursive;
}
.bgWrap {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* border: 5px solid red; */
}
.bg {
  overflow: hidden;
  position: absolute;
  background: url(../starBackground.jpeg);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
  height: 100vh;
  width: 200%;
  animation: slide 60s ease-in-out forwards infinite;
  z-index: -3;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.floater {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  animation: floating 2s ease-in-out infinite;
  top: 10px;
  z-index: 3;
}
.ship {
  display: flex;
  content: url("../pixelShip.png");
  width: fit-content;
  height: 200px;
  background-size: cover;
  top: 2;
}
.light {
  align-self: center;
  display: flex;
  /* opacity: 0.2; */
  border-radius: 30px;
  border-bottom: 700px solid rgb(255, 255, 255);
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  height: 0px;
  width: 100px;
  top: 120px;
  position: absolute;
  z-index: -1;
  animation: glow 5s ease-in-out infinite;
}
.contentContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  position: absolute;
  border: 1px solid red;
  bottom: 0;
}

.selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 100%;
  height: 20%;
  gap: 5px;
  border: 1px solid red;
  position: absolute;
  bottom: 0;
}

.screen {
  font-family: "Rubik Moonrocks", cursive;
  display: flex;
  color: white;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  background: rgb(126, 134, 255);
  background: linear-gradient(
    120deg,
    rgba(126, 134, 255, 1) 0%,
    rgba(228, 61, 255, 1) 100%
  );
  z-index: 3;
  /* transition-duration: 10s; */
}
.screen:hover {
  text-decoration: underline;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.image {
  display: flex;
  height: 250px;
  width: fit-content;
  z-index: -1;
}
.quotes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 300px;
  color: white;
  font-size: 20px;
  /* position: absolute; */
  border: 2px solid red;
  border-radius: 25px;
}
.quoteHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid red;
  padding-top: 5px;
  padding-bottom: 5px;
}
.bioContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  /* margin-left: 10%; */
  /* border: 1px solid red; */
}
.bios {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
  height: fit-content;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 100px;
  width: 300px;
  color: white;
  font-size: 20px;
  /* position: absolute; */
  border: 2px solid red;
  border-radius: 25px;

  /* top: 350px; */
}
.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid red;
  padding-top: 5px;
  padding-bottom: 5px;
}
.quoteHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid red;
  padding-top: 5px;
  padding-bottom: 5px;
}
.sayings {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
}
.nameBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 0px;
}
.bioBar {
  width: 100%;
  display: flex;
  padding: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  justify-self: center;
  z-index: -3;
}

@-webkit-keyframes displace {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 160px center;
  }
}
@keyframes displace {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 160px center;
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 30px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes glow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
